<div class="container container1">
    <div class="row justify-content-center logo-row">
        <img class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 align-self-center" src="assets/images/LogoCA.png"
            routerLink="">
    </div>
    <div class="row justify-content-center slogan-row">
        <img class="col-xl-6 col-lg-7 col-md-8 col-sm-11 col-11 align-self-center" src="assets/images/slogan.png"
            routerLink="">
    </div>
    <div class="row justify-content-center logIn-row">
        <div class="container" id="advanced-search-form">
            <h2>Ingrese su información personal</h2>
            <form>
                <div class="form-group">
                    <label for="primer-nombre">Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre" id="primer-nombre">
                </div>
                <div class="form-group">
                    <label for="primer-apellido">Primer apellido</label>
                    <input type="text" class="form-control" placeholder="Primer apellido" id="primer-apellido">
                </div>
                <div class="form-group">
                    <label for="segundo-apellido">Segundo apellido</label>
                    <input type="text" class="form-control" placeholder="Segundo apellido" id="segundo-apellido">
                </div>
                <div class="form-group">
                    <label for="nacimiento">Fecha de nacimiento</label>
                    <input type="text" class="form-control" placeholder="Fecha de nacimiento" id="nacimiento">
                </div>
                <div class="form-group">
                    <label for="hijos">Número de hijos</label>
                    <input type="text" class="form-control" placeholder="Número de hijos" id="hijos">
                </div>
                <div class="form-group">
                    <label>Sexo</label>
                    <div class="radio form-control" style="border: white;">
                        <label class="radio-inline">
                            <input type="radio" name="optradio">Mujer</label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">Hombre</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>¿Tiene familia?</label>
                    <div class="radio form-control" style="border: white;">
                        <label class="radio-inline">
                            <input type="radio" name="optradio">Sí</label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">No</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>¿Tiene mascotas?</label>
                    <div class="radio form-control" style="border: white;">
                        <label class="radio-inline">
                            <input type="radio" name="optradio">Sí</label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">No</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Discapacidad visual
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Discapacidad auditiva
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Usa bastón
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Anda en silla de ruedas
                        </label>
                    </div>
                </div>

                <div class="clearfix"></div>
                <button class="btn btnRegistrar btn-info btn-lg btn-responsive"> Registrarse</button>
            </form>
        </div>
    </div>
</div>