<header class="header fixed in-view">
    <div class="container_header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="DivImagenLogo">
                <img class="imgLogo" src="assets/images/Logo.png" alt="Logo Caribe Adventure">
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link filaNavbar" href="#">
                            <div>
                                <img class="iconoMenu" src="assets/images/profile.png" alt="Icono perfil">
                            </div>
                            <div id="opcionMenu">
                                Servicios
                            </div>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            <div>
                                <img class="iconoMenu" src="assets/images/profile.png" alt="Icono consultar">
                            </div>
                            <div id="opcionMenu">
                                Iniciar
                            </div>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            <div>
                                <img class="iconoMenu" src="assets/images/profile.png" alt="Icono cerrar sesión">
                            </div>
                            <div id="opcionMenu" style="padding-left: 15px;">
                                Registrarse
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<header style="visibility: hidden;" class="header notfixed in-view">
    <div class="container_header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="DivImagenLogo">
                <img class="imgLogo" src="assets/images/LogoCA.png" alt="Logo Caribe Adventure">
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link filaNavbar" href="#">
                            <div>
                                <img class="iconoMenu" src="assets/images/profile.png" alt="Icono perfil">
                            </div>
                            <div id="opcionMenu">
                                Mi perfil
                            </div>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            <div>
                                <img class="iconoMenu" src="assets/images/profile.png" alt="Icono consultar">
                            </div>
                            <div id="opcionMenu">
                                Consultar
                            </div>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            <div>
                                <img class="iconoMenu" src="assets/images/profile.png" alt="Icono cerrar sesión">
                            </div>
                            <div id="opcionMenu" style="padding-left: 15px;">
                                Salir
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>