header {
    color:#000;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width:100%;
    top:0;
    left:0;
    z-index:9;
  }
  
  header .container{
    display:flex;
    flex-flow: row wrap;
    align-items:center;
  }

  header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity:0;
    visibility:hidden;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    transform:translate(0, -200px);
  }

  header.notfixed {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    opacity:0;
    visibility:hidden;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    transform:translate(0, -200px);
  }

  header.in-view{
    opacity:1;
    visibility:visible;
    transition: all 0.3s ease;
    transform:translate(0, 0);
  }

.navbar{
    background-color: rgb(37, 79,96, 1);
}

nav{    
    display: flex;
    flex: 1 auto;
}

.DivImagenLogo{
	margin-left: 8px;
	margin-top: 4px;
}

.iconoMenu{
    height: 50px;
}

#navbarSupportedContent{
    font-size: large;
}

@media (min-width: 992px) {
    .buffer-section {
        height: 54px;
    }
    #navbarSupportedContent{
        position: absolute;
        right: 50px;
    }
    .iconoMenu{
        display: block;
        margin-left: 10px;
        height: 50px;
    }

    .nav-item{
        margin-left: 30px;
    }
}

@media (min-width: 992px) {
    .imgLogo{
        height: 85px;
    }
    .buffer-section {
        height: 89px;
    }
    #navbarSupportedContent > ul > li > a{
        color: white;
    }
    #imgIniciar{
        margin-left: 15px;
    }
    #opcionSalir{
        margin-left: 18px;
    }
}

@media (max-width: 992px) {
    .buffer-section {
        height: 79px;
    }
    .imgLogo{
        height: 75px;
    }
    .iconoMenu{
        float: left;
        height: 30px;
        margin-right: 6px;
    }

    .nav-item{
        margin-left: 10px;
    }

    #opcionMenu{
        margin-top: 3px;
    }
    #imgRegistro{
        margin-left: 0px;
    }
    
    #navbarSupportedContent{
        background-color: white;
        -webkit-box-shadow: 7px 7px 10px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 7px 7px 10px -4px rgba(0,0,0,0.75);
        box-shadow: 7px 7px 10px -4px rgba(0,0,0,0.75);

        border-radius: 19px 19px 19px 19px;
        -moz-border-radius: 19px 19px 19px 19px;
        -webkit-border-radius: 19px 19px 19px 19px;
        border: 0px solid #000000;
    }

    #navbarSupportedContent > ul > li > a > div:hover {
        color: rgb(50, 158, 160);
    }
    #navbarSupportedContent > ul > li > a{
        color: black;
    }
}



.container_header {
    width: 100%;
    margin: 0;
    padding: 0;
}

.buffer-section {
    background-color: aqua;
}