*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }

.container-fluid{
    min-height: 100%;
}

ul > li > a{
  color: black;
  font-size: larger;
  font-weight: bold;
  margin-top: 1px;
}

.nav-item{
  margin-right: 1%;
}